.ArTrip_1{
    height: 700px;
    width: 400px;
    background-color:whitesmoke;
    background-image: url("C:\Users\enoch\OneDrive\Desktop\backed\websiteimport\enochdevs\projectwebsite\src\artrip.css");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    align-items: center;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);
    padding: 10px 0;
    margin: 60px 0;
  }

