.spook_introduction_image{
    height: 700px;
    width: 400px;
    background-color:whitesmoke;
    /* background-color: rgba(233, 233, 170); */
    /* background-image: linear-gradient(315deg, #230903 0%, #d3b88c 74%); */
    background-image: url("./assets/spooks.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);
    padding: 10px 0;
    margin: 60px 0;
  }
  
  .spook_page1_image{
    height: 700px;
    width: 400px;
    background-color:whitesmoke;
    /* background-color: rgba(233, 233, 170); */
    /* background-image: linear-gradient(315deg, #230903 0%, #d3b88c 74%); */
    background-image: url("./assets/spook1.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);
    padding: 10px 0;
    margin: 60px 0;
  }
 
  .spook_page2_image{
    height: 700px;
    width: 400px;
    background-color:whitesmoke;
    /* background-color: rgba(233, 233, 170); */
    /* background-image: linear-gradient(315deg, #230903 0%, #d3b88c 74%); */
    background-image: url("./assets/spook2.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);
    padding: 10px 0;
    margin: 60px 0;
  }
  
  .spook_page3_image{
    height: 700px;
    width: 400px;
    background-color:whitesmoke;
    /* background-color: rgba(233, 233, 170); */
    /* background-image: linear-gradient(315deg, #230903 0%, #d3b88c 74%); */
    background-image: url("./assets/spook3.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);
    padding: 10px 0;
    margin: 60px 0;
  }
  
  .spook_page4_image{
    height: 700px;
    width: 400px;
    background-color:whitesmoke;
    /* background-color: rgba(233, 233, 170); */
    /* background-image: linear-gradient(315deg, #230903 0%, #d3b88c 74%); */
    background-image: url("./assets/spook4.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);
    padding: 10px 0;
    margin: 60px 0;
  }
  
  .spook_page5_image{
    height: 700px;
    width: 400px;
    background-color:whitesmoke;
    /* background-color: rgba(233, 233, 170); */
    /* background-image: linear-gradient(315deg, #230903 0%, #d3b88c 74%); */
    background-image: url("./assets/spook5.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);
    padding: 10px 0;
    margin: 60px 0;
  }
  
  .spook_page6_image{
    height: 700px;
    width: 400px;
    background-color:whitesmoke;
    /* background-color: rgba(233, 233, 170); */
    /* background-image: linear-gradient(315deg, #230903 0%, #d3b88c 74%); */
    background-image: url("./assets/spook6.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);
    padding: 10px 0;
    margin: 60px 0;
  }
  
  @media screen and (min-device-width: 260px) and (max-device-width: 600px){
    .spook_introduction_image, .spook_page1_image, .spook_page2_image, .spook_page3_image, .spook_page4_image, .spook_page5_image, .spook_page6_image{
      height: 350px;
      width: 200px;
    }
  }