.unwrapped_introduction_image{
    height: 700px;
    width: 400px;
    background-color:whitesmoke;
    /* background-color: rgba(233, 233, 170); */
    /* background-image: linear-gradient(315deg, #230903 0%, #d3b88c 74%); */
    background-image: url("./assets/unwrapped1.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);
    padding: 10px 0;
    margin: 60px 0;
  }
  
  .unwrapped_page1_image{
    height: 700px;
    width: 400px;
    background-color:whitesmoke;
    /* background-color: rgba(233, 233, 170); */
    /* background-image: linear-gradient(315deg, #230903 0%, #d3b88c 74%); */
    background-image: url("./assets/unwrapped2.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);
    padding: 10px 0;
    margin: 60px 0;
  }
 
  .unwrapped_page2_image{
    height: 700px;
    width: 400px;
    background-color:whitesmoke;
    /* background-color: rgba(233, 233, 170); */
    /* background-image: linear-gradient(315deg, #230903 0%, #d3b88c 74%); */
    background-image: url("./assets/unwrapped3.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);
    padding: 10px 0;
    margin: 60px 0;
  }
  
  .unwrapped_page3_image{
    height: 700px;
    width: 400px;
    background-color:whitesmoke;
    /* background-color: rgba(233, 233, 170); */
    /* background-image: linear-gradient(315deg, #230903 0%, #d3b88c 74%); */
    background-image: url("./assets/unwrapped4.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);
    padding: 10px 0;
    margin: 60px 0;
  }
  
  @media screen and (min-device-width: 260px) and (max-device-width: 600px){
    .unwrapped_introduction_image, .unwrapped_page1_image, .unwrapped_page2_image, .unwrapped_page3_image{
      height: 350px;
      width: 200px;
    }
  }